body {
  background-color: rgb(255, 255, 255);
  font: 400 1.875em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.container-4 p {
  margin-bottom: 1em;
}

.container .container {
  float: left;
}

.image {
  display: block;
  float: left;
  width: 354px;
  height: auto;
  overflow: hidden;
}

._button {
  display: block;
  text-align: center;
}

.container-1 {
  position: relative;
  float: left;
  z-index: 26;
  width: 100%;
  height: 730px;
  min-height: 600px;
  max-height: 800px;
  background: rgb(153, 153, 153);
  background: -webkit-linear-gradient(327deg, rgb(153, 153, 153) 19.28571428571429%, rgb(230, 230, 230) 47.61904761904761%, rgb(153, 153, 153) 83.57142857142857%) rgb(26, 26, 26);
  background:    -moz-linear-gradient(327deg, rgb(153, 153, 153) 19.28571428571429%, rgb(230, 230, 230) 47.61904761904761%, rgb(153, 153, 153) 83.57142857142857%) rgb(26, 26, 26);
  background:      -o-linear-gradient(327deg, rgb(153, 153, 153) 19.28571428571429%, rgb(230, 230, 230) 47.61904761904761%, rgb(153, 153, 153) 83.57142857142857%) rgb(26, 26, 26);
  background:     -ms-linear-gradient(327deg, rgb(153, 153, 153) 19.28571428571429%, rgb(230, 230, 230) 47.61904761904761%, rgb(153, 153, 153) 83.57142857142857%) rgb(26, 26, 26);
  background:         linear-gradient(123deg, rgb(153, 153, 153) 19.28571428571429%, rgb(230, 230, 230) 47.61904761904761%, rgb(153, 153, 153) 83.57142857142857%) rgb(26, 26, 26);
}

.container-2 {
  position: relative;
  z-index: 25;
  width: 7.3333333333%;
  height: 88px;
  margin: -79px 0 0 26.66667%;
}

.container-2:hover {
  background-color: rgba(32, 55, 255, 0.51);
}

.container-3 {
  position: fixed;
  top: 85px;
  left: 8.75%;
  z-index: 32;
  width: 15%;
  height: 180px;
}

.container-4 {
  position: relative;
  float: left;
  clear: both;
  z-index: 18;
  width: 100%;
  height: 550px;
  background: url('../images/futball.jpg') rgb(230, 230, 230);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
}

.container-5 {
  position: relative;
  float: left;
  clear: both;
  z-index: 16;
  width: 100%;
  height: 500px;
  background: rgb(186, 22, 46);
  background: -webkit-linear-gradient(0deg, rgb(186, 22, 46) 32.61904761904762%, rgb(182, 204, 0) 33.095238095238095%, rgb(231, 255, 53) 70.23809523809523%, rgb(25, 25, 247) 70%) rgb(51, 51, 51);
  background:    -moz-linear-gradient(0deg, rgb(186, 22, 46) 32.61904761904762%, rgb(182, 204, 0) 33.095238095238095%, rgb(231, 255, 53) 70.23809523809523%, rgb(25, 25, 247) 70%) rgb(51, 51, 51);
  background:      -o-linear-gradient(0deg, rgb(186, 22, 46) 32.61904761904762%, rgb(182, 204, 0) 33.095238095238095%, rgb(231, 255, 53) 70.23809523809523%, rgb(25, 25, 247) 70%) rgb(51, 51, 51);
  background:     -ms-linear-gradient(0deg, rgb(186, 22, 46) 32.61904761904762%, rgb(182, 204, 0) 33.095238095238095%, rgb(231, 255, 53) 70.23809523809523%, rgb(25, 25, 247) 70%) rgb(51, 51, 51);
  background:         linear-gradient(450deg, rgb(186, 22, 46) 32.61904761904762%, rgb(182, 204, 0) 33.095238095238095%, rgb(231, 255, 53) 70.23809523809523%, rgb(25, 25, 247) 70%) rgb(51, 51, 51);
}

.container-6 {
  position: relative;
  float: left;
  clear: both;
  z-index: 13;
  width: 100%;
  height: 550px;
  background-color: rgb(230, 230, 230);
}

.container-7,
.container-8,
.container-9 {
  width: 30%;
  height: 500px;
  margin: 25px 0 0 2.5%;
  border: 2px solid rgb(0, 0, 0);
}

.element-1 {
  position: relative;
  float: left;
  clear: both;
  z-index: 22;
  width: 54px;
  height: 54px;
  margin-left: 47.75%;
  background: none, url('../images/linkedInLogoBlack.png') rgba(222, 222, 222, 0);
  background-repeat: repeat, no-repeat;
  background-size: auto auto, contain;
  background-position: left top, center center;
  background-attachment: scroll, scroll;
}

.element-1:hover {
  background-image: url('../images/linkedInLogoBlue.png'), url('../images/linkedInLogoBlack.png');
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  background-position: center center, center center;
}

.element-2 {
  float: left;
  width: 100%;
  height: 64px;
  background: url('../images/downloadIcon.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-2:hover {
  background-color: rgba(32, 55, 255, 0);
}

.element-3 {
  width: 80%;
  height: 370px;
  margin: 158px auto 0;
  border-radius: 10px 100px;
  background: url('../images/background.jpg') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  box-shadow: -2px 1px 30px 3px rgba(51, 51, 51, 0.78);
}

.image-3 {
  margin-left: 0.5618%;
}

.text-1 {
  position: relative;
  float: left;
  z-index: 20;
  width: 50%;
  min-height: 79px;
  margin: 15px 0 0 25%;
  font-family: OCRAStd;
  font-size: 1.667em;
  font-weight: normal;
  text-align: center;
  color: rgb(32, 55, 255);
}

.text-10 {
  float: left;
  clear: both;
  width: 65.7303370786%;
  min-height: 14px;
  margin: 24px 0 0 4.75334%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-11 {
  float: left;
  clear: both;
  width: 96.9101123595%;
  min-height: 14px;
  margin: 17px 0 0 2.52809%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-12 {
  float: left;
  clear: both;
  width: 51.9662921348%;
  min-height: 14px;
  margin: 13px 0 0 2.52809%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-13 {
  float: left;
  clear: both;
  width: 51.9662921348%;
  min-height: 14px;
  margin: 33px 0 0 6.59235%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 23;
  width: 88.6363636363%;
  min-height: 21px;
  margin: 0 auto;
  font-family: OCRAStd;
  font-size: 0.6em;
  font-weight: normal;
  color: rgb(0, 0, 0);
}

.container ._button-2:hover,
.container ._button-3:hover,
.container ._button-4:hover,
.container ._button-5:hover,
.text-2:hover {
  color: rgb(230, 230, 230);
}

.text-3 {
  width: 72.5%;
  min-height: 86px;
  margin: 35px auto 0;
  border-radius: 10px;
  box-shadow: -2px 2px 5px 2px rgb(98, 7, 7) inset;
  font: normal 1.333em/2.5 OCRAStd;
  text-align: center;
  color: rgb(98, 7, 7);
}

.text-4 {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 17;
  width: 100%;
  min-height: 165px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.48);
  font-family: 'OCR A Std';
  font-size: 0.533em;
  text-align: center;
  color: rgb(255, 152, 95);
}

.text-5 {
  float: left;
  width: 23.75%;
  min-height: 28px;
  margin: 53px 0 0 1.16667%;
  font-family: LatinWide;
  font-size: 1em;
  font-weight: normal;
  color: rgb(0, 0, 0);
}

.text-6 {
  float: left;
  width: 30.4166666666%;
  min-height: 28px;
  margin: 180px 0 0 10.83073%;
  font-family: LatinWide;
  font-size: 1em;
  font-weight: normal;
  color: rgb(0, 0, 0);
}

.text-7 {
  float: left;
  clear: both;
  width: 36%;
  min-height: 14px;
  margin: 43px 0 0 1.40011%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-8 {
  float: left;
  clear: both;
  width: 60.1123595505%;
  min-height: 14px;
  margin: 24px 0 0 1.40011%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-9 {
  float: left;
  clear: both;
  width: 98.0337078651%;
  min-height: 14px;
  margin: 17px 0 0 1.40011%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.container ._button-1 {
  position: absolute;
  top: -70px;
  left: 0;
  right: 0;
  z-index: 31;
  width: 40%;
  height: 70px;
  margin: 0 auto;
  border-radius: 3px;
  background: url('../images/Macbook-icon.png') rgba(153, 153, 153, 0);
  background-size: cover;
  background-position: center center;
  font-size: 0.533em;
  color: rgb(0, 0, 0);
}

.container ._button-2 {
  float: left;
  width: 100%;
  height: 30px;
  font: normal 0.667em/1.8 OCRAStd;
  color: rgb(32, 55, 255);
}

.container ._button-3,
.container ._button-4 {
  float: left;
  clear: both;
  width: 100%;
  height: 30px;
  margin-top: 20px;
  font: normal 0.667em/1.8 OCRAStd;
  color: rgb(32, 55, 255);
}

.container ._button-5 {
  float: left;
  clear: both;
  width: 100%;
  height: 30px;
  margin-top: 20px;
  background-color: rgba(165, 165, 165, 0);
  font: normal 0.667em/1.8 OCRAStd;
  color: rgb(32, 55, 255);
}