@charset "UTF-8";
body {
	font-style: normal;
	font-weight: 400;
	margin-top: 0px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	height: 100vh;
	width: 100vw;
}

a {
	color: rgba(0,0,0,1.00);
	text-decoration: none;
	font-family: righteous;
	font-style: normal;
	font-weight: 400;
}
a:hover {
	text-decoration: none;
	color: rgba(255,255,255,1.00);
}

h2 {
	text-align: center;
	color: rgba(28,107,221,1.00);
}

.header {
	text-align: center;
	margin-top: 8%;
}
.mainImage {
	border-radius: 50px 100px 50px 0px;
	max-width: 95%;
	max-height: 30%;
}

#nameTitle {
	font-family: 'Righteous', cursive;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	position: relative;
	animation-name: discolour;
	animation-duration: 3s;
	animation-fill-mode: both;
	z-index: 0;
}

@keyframes discolour {
    0% {top: 0%; color: #1C6BDD;}
	25% {color: #1C6BDD;}
    100% {top: 12%; color: white;}
}

.mainSect {
	background-color: #333333;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	height: 100vh;
	padding-bottom: 1px;
	padding-top: 1px;
	display: block;
	width: 100vw;
	text-align: center;
	z-index: -1;
}
.aboutSect {
	margin-top: 0px;
	padding-top: 1px;
	height: 80vh;
	display: block;
	padding-bottom: 1px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center 0%;
	width: 100vw;
	background-image: url(../images/pitchParallax.jpg);
	text-align: center;
}
.eduSect {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #333333;
	height: 90vh;
	display: block;
	width: 100vw;
	top: 0px;
	text-align: center;
}
.expSect {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 1px;
	height: 80vh;
	display: block;
	width: 100vw;
	top: 0px;
	background-image: url(../images/pitchParallax.jpg);
	background-attachment: fixed;
	background-position: center 0%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.projSect {
	background-color: #333333;
	height: 100vh;
	display: block;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 1px;
	color: #AF8C59;
	width: 100%;
}
.contSect {
	background-color: #333333;
	height: 35vh;
	width: 100vw;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 1px;
	display: block;
	text-align: left;
}

.navBar {
	background-color: #1C6BDD;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 30;
	border-width: 1pt;
	border-color: rgba(28,107,221,1.00);
	border-radius: 0px;
}
.navbar-header   {
	display: block;
	float: left;
	font-family: 'Righteous', cursive;
	font-style: normal;
	font-weight: 400;
	text-decoration: none;
}
.navList   {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
	height: 100%;
	color: #C3E8F3;
}
#aboutSectItem    {
	float: left;
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 10px;
	text-decoration: none;
	color: #000000;
	font-size: 12pt;
}
#aboutSectItem:hover {
	color: #FFFFFF;
	text-decoration: none;
}
#expSectItem {
	float: left;
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 10px;
	text-decoration: none;
	color: #000000;
	font-size: 12pt;
}
#expSectItem:hover {
	color: #FFFFFF;
	text-decoration: none;
}
#eduSectItem {
	float: left;
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 10px;
	text-decoration: none;
	color: #000000;
	font-size: 12pt;
}
#eduSectItem:hover {
	color: #FFFFFF;
	text-decoration: none;
}
#projSectItem {
	float: left;
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 10px;
	text-decoration: none;
	color: #000000;
	font-size: 12pt;
}
#projSectItem:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.nav.navbar-nav.navListItem li #expSectItem {
}

#contSectItem {
	float: left;
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 10px;
	text-decoration: none;
	color: #000000;
	font-size: 12pt;
}
#contSectItem:hover {
	color: #FFFFFF;
	text-decoration: none;
}
.imgContainer {
	width: 25vw;
	margin-top: 10vh;
}
.Logo {
	border-radius: 38px;
	padding-top: 5px;
	vertical-align: middle;
	margin-top: 5vh;
	width: 30vw;
}
.card1 {
	border: 8pt ridge #AF8C59;
	width: 40%;
	height: 56%;
	margin-left: 2.5%;
	border-radius: 15px;
	margin-top: 5%;
	float: left;
	left: 5%;
}
.card2 {
	text-align: center;
	border: 8pt ridge #AF8C59;
	width: 40%;
	height: 56%;
	border-radius: 15px;
	margin-top: 5%;
	float: right;
	margin-right: 2.5%;
}
.aboutContent {
	font-family: electrolize;
	font-style: normal;
	font-size: 20pt;
	color: #FF0004;
}
.cardContent {
	text-align: center;
}
.cardVid {
	width: 95%;
	text-align: center;
	height: 280px;
}
#portTitle {
	margin-top: 5%;
}
#cardButton {
	color: #000000;
	border-radius: 10px;
	display: inline;
	font-style: normal;
	font-weight: 400;
	font-family: righteous;
	background-color: #95BD6E;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	border-width: 0;
	margin-left: 43%;
}
#linkedInButton {
	background-image: url(../images/linkedInLogoBlue.png);
	width: 60px;
	height: 60px;
	border-width: 0pt;
	border-radius: 10px;
	background-size: cover;
}
#linkedInButton:hover {
	background-image: url(../images/linkedInLogoBlack.png);
	width: 60px;
	height: 60px;
	border-width: 0pt;
	border-radius: 10px;
	background-size: cover;
}
.contBtns    {
	font-style: normal;
	font-weight: 400;
	color: #FFFFFF;
	background-color: #23A5F2;
	border-width: medium;
	border-radius: 10px;
	border-color: #23A5F2;
	margin-right: 20px;
	margin-top: 50px;
}
.contBtns:hover {
	text-decoration: none;
}
