@charset "UTF-8";
body {
	font-family: play;
	font-style: normal;
	font-weight: 400;
	margin-top: 0px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	height: 100vh;
}
.mainSect {
	background-color: #AF8C59;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	display: block;
	height: 100vh;
	padding-bottom: 1px;
	padding-top: 1px;
	padding-left: 1px;
	padding-right: 1px;
}
.aboutSect {
	margin-top: 0px;
	padding-top: 1px;
	height: 100vh;
	display: block;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	background-image: url(../images/futball.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center 0%;
}
.expSect {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	background-color: #95BD6E;
	height: 100vh;
}
h1 {
	font-family: righteous;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	margin-top: 8%;
}
h2 {
	text-align: center;
}
.navBar {
	background-color: #232538;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	position: fixed;
	width: 100%;
	top: 0px;
}
.navbar-header   {
	display: block;
	float: left;
	font-family: righteous;
	font-style: normal;
	font-weight: 400;
	text-decoration: none;
}
.navList {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
	height: 100%;
}
.navListItem {
	float: left;
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 10px;
	text-decoration: none;
	color: #C3E8F3;
}
.navListItem:hover {
	color: #FFFFFF;
	text-decoration: none;
}
.navListItem:visited {
	background-color: #23A5F2;
}
.container-fluid .navbar-header .navListItem.active {
	text-decoration: none;
}
.header {
	text-align: center;
}
.mainImage {
	border-radius: 50px 100px 50px 0px;
	max-width: 95%;
	max-height: 30%;
}
